.CuadroImagen {
    position: relative;
    text-align: center;
    display: inline-block;
    margin: 8px 8px;
}

.difuminadoCuadro {
    background-color: #240f0fde;
    padding: 2px;
    width: 155px;;
    height: 30px;
    position: absolute;
    bottom: 5px;
    border-radius: 10px;
}

.tituloCuadro {
    font-family: 'roboto';
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.imagenSmall {
    border-radius: 20px;
    width: 182px;
    height: 236px;
    background-size: cover;
    overflow: hidden;
}

.btn-Corazon{
    position: absolute;
    border-width: 0px;
    padding: 1px;
    border-radius: 15px;
    font-size: 15px;
    top: 5px;
    right: 5px;
    color: #ffffff;
    background-color: rgb(233, 57, 57);
}