.CuadroImagen {
    position: relative;
    display: inline-block;
    margin: 8px 8px;
    box-shadow: 2px 2px 4px #bbb;
    width: 140px;
    height: 200px;
    vertical-align: bottom;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}

.difuminadoCuadro {
    margin-top: 154px;
    background-color: #582328;
    margin-left: 5px;
    width: 130px;
    height: 30px;
    position: absolute;
    opacity: 0.6;
    border-radius: 15px;
}

.tituloCuadro {
    width: 125px;
    color: #fff;
    margin-top: 158px;
    margin-left: 9px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}