.fondo{
    position:fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.521);
    z-index: 2;
}

.myCard{
    margin: auto;
    margin-top: 10%;
    background: rgb(255, 255, 255);
    border-radius: 30px;
    width: 500px;
    height: 700px;
}

.myCardLeft{
    background-color: rgb(243, 222, 221);
    border-radius: 30px 0px 0px 30px;
    height: 700px;
}

.myCardRight{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.myText{
    display: block;
    border-radius:15px;
    font-family:'roboto';
    font-size:15px;
    width:100%;
    height:50px;
    padding:5px;
    margin-top: 20px;
}

.btnLogin{
    background-color: #36ea8f;
    color: #fff;
    border: 0px;
    font-weight: bold;
}

.btnPass{
    background-color: #e7e7e7;
    color: rgb(155, 155, 155);
    border: 0px;
}
